@import url("https://fonts.googleapis.com/css?family=Lora||Raleway|Montserrat|Open+Sans|Roboto&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body{
	font-family: 'Lora', serif;
	font-size: 18px;
	margin: 0px auto;
	background-color: rgba(240, 240, 240, 1);
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


.font-grey{
	color: rgb(88, 88, 88);
	font-size: 19px;
}

